<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="LogFiles\internal-nlog.txt">

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="all" fileName="LogFiles\all-${shortdate}.log"
        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />


    <target xsi:type="File" name="lunch" fileName="LogFiles\lunch-${shortdate}.log"
        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" />

    <logger name="lunch.*" minlevel="Trace" writeTo="lunch" />
    
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="System.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>